<form action="http://localhost:53140/faculty/Search" method="post" enctype="application/x-www-form-urlencoded" >
      <input type="text" id="Search" name="Search" class="length1" placeholder="Search" tabindex="1">
      <button type="submit" tabindex="2">Search</button>
</form>
<br>

<table class="table-striped table-hover table-interactive" overflow-y="hidden" > 
    <thead> 
        <th width="5%"><a href="/faculty/date" tabindex="1" class="noVisual">Project ID</a></th>
        <th width="8%"><a href="/faculty/company" tabindex="1" class="noVisual">Company</a></th>
        <th width="7%">Contact</th>
        <th width="40%">Description</th>
        <th width="10%"><a href="/faculty/date" tabindex="1" class="noVisual">Submission Date</a></th>
        <th width="10%"><a href="/faculty/status" tabindex="1" class="noVisual">Status</a></th>
        <th width="20%"><a href="/faculty/department" tabindex="1" class="noVisual">Department</a></th>
    </thead> 
 
    {{#each projects}} 
        <tr> 
            <td><a href="http://localhost:53140/allinformation/{{this/projectID}}" tabindex="1">{{this/projectID}}</a></td>
            <td>{{this/name}}</td> 
            <td>{{this/first}} {{this/last}}</td> 
            <td class="descrip-text"><a href="http://localhost:53140/allinformation/{{this/projectID}}" tabindex="1">{{this/Description}}</a></td>
            <td>{{this/Date}}</td>
            <td>{{this/pstatus}}</td>
            <td>{{this/depName}}</td>
        </tr>
    {{/each}}
</table>