<form action="http://localhost:53140/faculty/Sort" method="post" enctype="multipart/form-data">
    <label for="Search" class="label-style">Search</label>
    <input type="text" id="Search" name="Search" class="length1"  tabindex="2" required>
</form>


<table> 
    <thead> 
        <th><a href="http://localhost:53140/faculty/company" tabindex="1" class="noVisual">Company</a></th>
        <th>Contact</th>
        <th width="40%">Description</th>
        <th><a href="http://localhost:53140/faculty/date" tabindex="1" class="noVisual">Submission Date</a></th>
        <th><a href="http://localhost:53140/faculty/status" tabindex="1" class="noVisual">Status</a></th>
        <th><a href="http://localhost:53140/faculty/department" tabindex="1" class="noVisual">Department</a></th>
    </thead> 
 
    {{#each projects}} 
        <tr> 
            <td>{{this/name}}</td> 
            <td>{{this/phone}} </td> 
            <td class="descrip-text"><a href="http://localhost:53140/allinformation/{{this/projectID}}" target="_blank" tabindex="1">{{this/Description}}</a></td>
            <td>{{this/Date}}</td>
            <td>{{this/pstatus}}</td>
            <td>{{this/depName}}</td>
        </tr> 
    {{/each}} 
</table>