<table> 
    <thead> 
        <th>Company</th><th>Contact</th><th>Description</th><th>Department</th>
    </thead> 
 
    {{#each projects}} 
        <tr> 
            <td> 
                {{this/name}}
            </td> 
            <td> 
                {{this/phone}} 
            </td> 
            <td class="descrip-text">
                <a href="allinformation/{{this/projectID}}" target="_blank" tabindex="1">
                {{this/Description}}
                </a>
            </td>
            <td>
                {{this/depName}}
            </td>              
        </tr> 
    {{/each}} 
 
</table>